button[type="submit"]
{
    border: none;
    outline: none;
    position: fixed;
    background: #45f3ff;
    padding: 10px 30px;
    width: 135px;
    height: 48px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    top: 20px;
    right: 20px;
}
