<div class="nose">
<div class="link">
    <link rel="stylesheet" href="/Tianguis/src/app/components/btn-mylocation/btn-mylocation.component.css">
    <button type="submit" title="Ingresar" name="Ingresar" (click)="goToMyLocation()">
        <i class="fa-sharp fa-solid fa-map-location-dot"></i>_Ubicacio</button>
</div>
<div class="link2">
    <link rel="stylesheet" href="/Tianguis/src/app/components/btn-mylocation/btn-mylocation.component.css">
    <button type="submit" title="Ingresar" name="Ingresar" routerLink="/menu">
    Exit</button>
</div>
</div>
